.navbar {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.img-enfant{
    width: 90px;
    position: absolute;
    top:140px;
    left: 70px;
}

.img-rv{
    width: 68px;
    position: absolute;
    top:287px;
    left: 78px;
}

.tire{
    color:#E42E27;
}

.listEnfant{
    left: 100px;
}

.len{
    color:white;
}